<launch>
    <include file="$(find manipulator_h_bringup)/launch/robotis_manipulator.launch"/>
    <include file="$(find manipulator_h_manager)/launch/manipulator_h_manager.launch"/>
    <node name="setmode" pkg="shakestation" type="setmode" />
    <node name="gripperControl" pkg="shakestation" type="gripperControl" />
    <node name="mixerControl" pkg="shakestation" type="mixerControl" />
    <node name="waterValveControl" pkg="shakestation" type="waterValveControl" />
    <node name="manipulator_h_gui" pkg="manipulator_h_gui" type="manipulator_h_gui" />
</launch> 